<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase 	/
#    RewriteBase 	/var/chroot/home/content/65/8545965/html/projects/app
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ /index.php?/$1 [QSA,L]
</IfModule>
