<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase 	/
#    RewriteBase 	/var/chroot/home/content/65/8545965/html/projects/app
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
 </IfModule>